HraPrsi/Client/Connected Services/PrsiService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStateResult" type="tns:AppState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppState">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="gameStarted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfPlayer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Player">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cards" type="tns:ArrayOfCard" />
          <s:element minOccurs="1" maxOccurs="1" name="isCreator" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Card">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="color" type="tns:CardColor" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:CardType" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CardColor">
        <s:restriction base="s:string">
          <s:enumeration value="Undefined" />
          <s:enumeration value="Black" />
          <s:enumeration value="Red" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CardType">
        <s:restriction base="s:string">
          <s:enumeration value="Undefined" />
          <s:enumeration value="Type1" />
          <s:enumeration value="Type2" />
          <s:enumeration value="Type3" />
          <s:enumeration value="Type4" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSessionSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterSession" />
  </wsdl:message>
  <wsdl:message name="RegisterSessionSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterSessionResponse" />
  </wsdl:message>
  <wsdl:message name="JoinSessionSoapIn">
    <wsdl:part name="parameters" element="tns:JoinSession" />
  </wsdl:message>
  <wsdl:message name="JoinSessionSoapOut">
    <wsdl:part name="parameters" element="tns:JoinSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="GetStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="RegisterSession">
      <wsdl:input message="tns:RegisterSessionSoapIn" />
      <wsdl:output message="tns:RegisterSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinSession">
      <wsdl:input message="tns:JoinSessionSoapIn" />
      <wsdl:output message="tns:JoinSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input message="tns:GetStateSoapIn" />
      <wsdl:output message="tns:GetStateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterSession">
      <soap:operation soapAction="http://tempuri.org/RegisterSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSession">
      <soap:operation soapAction="http://tempuri.org/JoinSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterSession">
      <soap12:operation soapAction="http://tempuri.org/RegisterSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSession">
      <soap12:operation soapAction="http://tempuri.org/JoinSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap12:operation soapAction="http://tempuri.org/GetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50470/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50470/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>